::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #161616;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

body {
    background: #E5E5E5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1 {
    color: white;
}

h2 {
    color: #E5E5E5;
}

#top-bar {
    background: #14213D;
    color: #ffffff;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#link-container {
    display:  flex;
    justify-content: space-between;
    padding-right: 20px;
    width: 600px;
}

#heading-section {
    align-items: center;
    background: #213663;
    height: 300px;
}

#heading-section-title {
    padding-top: 65px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
    width: 75%;
}

#content-section {
    background: #ffffff;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: min-content;
    top: 150px;
    max-width: 1800px;
    width: 75%;
}

#content-section-heading {
    align-items: center;
    background: #161616;
    display: flex;
    height: 200px;
    justify-content: space-between;
    width: 100%;
}

#information-section {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: space-between;
    width: 450px;
}

.contact_me_details {
    display: flex;
}

#contact-me-section {
    display: block;
    width: 22%;

    @media only screen and (max-width: 1000px) {
        font-size: 5px;
    }
}

.contact_info {
    color: white;
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 15px;
}

#content-section-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#qualifications-section {
    margin-bottom: 60;
}

.content_section_body_heading {
    border-bottom: 2px solid #47474746;
    color: #161616;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.content_section_body_sub_heading {
    color: #222222;
}

.paragraph-container {
    margin-bottom: 60px;
}

#personal-statement-section-title {
    border-bottom: 2px solid #47474746;
    color: #161616;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 50px;
}

#skillss-section {
    margin-top: 60px;
}

#skills-section-title {
    border-bottom: 2px solid #47474746;
    color: #161616;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

#footer {
    margin-top: 100px;
    width: 100%;
}

#to-top-button-container {
    bottom: -100px;
    position: fixed;
    right: 20px;
}

#to-top-button {
    background: #FCA311;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 80px;
    width: 80px;
}

#to-top-button:hover {
    background: #e3930f;
}

#to-top-button:active {
    background: #ca820e;
}

#to-top-button:focus {
    outline: none;
}